QWidget#motorForm{
  background: rgb(210,225,248);
}
QWidget#kl1xxxForm{
  background: rgb(210,225,248);
}
QWidget#kl2xxxForm{
  background: rgb(210,225,248);
}
QDialog#BK9000{
  background: rgb(210,225,248);
}
